html {
  margin: 0;
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('./wine-stain.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.header {
  font-size: 40px;
  background-color: rgba(201, 63, 86, 0.76);
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.logo {
  height: 15%;
  width: 15%;
  padding-right: 5%;
}

#journals {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#about {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.signUp-and-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
