html {
  margin: 0;
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('./wine-stain.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.header {
  font-size: 40px;
  background-color: rgb(201, 63, 86);
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.logo {
  height: 15%;
  width: 15%;
  padding-right: 5%;
}

